.detail-task{
  border-bottom: solid 2px red;
  padding: 10px 0;
  color: #666666;
  text-align: center;
  justify-content: center;
}

.field{
  color:#666666;
  display: flex;
}
.form_btn{
    color:#666666;
}
.form_btn{
  margin: 0 0 0 auto;
}
.detail-table{
  width: 60%;
}