.detail-task{
  border-bottom: solid 2px red;
  padding: 10px 0;
  color: #666666;
  text-align: center;
  justify-content: center;
}

.actions{
  color:#666666;
  display: flex;
  justify-content: center;
}
.form_btn{
    color:#666666;
}

.detail-table{
  width: 60%;
}
.page-second-titile{
  color: #666666;
  font-weight: bold;
  margin-top: 10vh;
}
.todo-manage{
  display: flex;
  float: right;
}
.todo-edit{
  border: 1px solid #666666;
  padding:10px;
  margin: 0 1vw;
}
