<%= render "shared/header" %>
<div class="todo-innner">
<div class="new-post">
  <h1 class="page-titile">新規TODO投稿</h1>
    <%= render partial: "form", locals: { task_category: @taskcategory } %>
</div>
</div>